.container {
    margin: 80px 240px 60px 240px;
    padding: 0px 100px 100px 100px;
}

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td,
#customers th {
    border: 1px solid rgb(17, 4, 4);
    padding: 6px;
}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

#customers #mid {
    text-align: center;
}

#customers #up {
    background-color: blue;
    border-color: white;
    border-radius: 5px;
    padding: 8px;
    color: white;
}

#customers #del {
    background-color: red;
    border-color: white;
    border-radius: 5px;
    padding: 8px;
    color: white;
}

#customers button {
    width: 100%;
}

.container1 #new {
    background-color: blue;
    border-color: red;
    border-radius: 5px;
    padding: 8px;
    color: white;
}

.container2 #new1 {
    background-color: blue;
    border-color: red;
    border-radius: 5px;
    padding: 8px;
    color: white;
}

h1 {
    color: green;
}

.container1 input {
    padding: 8px;
}

.container2 input {
    padding: 8px;
}

.container1 {
    margin: 80px 240px 60px 240px;
    padding: 0px 100px 100px 100px;
}

.container2 {
    margin: 80px 240px 60px 240px;
    padding: 0px 100px 100px 100px;
}

.container #new3 {
    padding: 8px;
    background-color: rgb(27, 24, 199);
    color: white;
    border-radius: 4px;
    border-color: #04AA6D;
}