<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

<body>
    <div class="container1">
        <h1>Add Member</h1>
        <form action="{% url 'addrec' %}" method="post">
            {% csrf_token %}
            <label for="">First Name</label><br><br>
            <input type="text" name="first"><br><br>
            <label for="">Last Name</label><br><br>
            <input type="text" name="last"><br><br>
            <label for="">Country</label><br><br>
            <input type="text" name="country"><br><br>
            <button type="submit" id="new">Submit</button>
        </form>
    </div>
</body>

</html>