<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

<body>
    <div class="container">
        <h1>Members</h1>
        <table id="customers" border="1">
            <thead>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Country</th>
                <th colspan="2" id="mid">Action</th>
            </thead>
            {% for x in mem %}
            <tr>
                <td>{{x.id}}</td>
                <td>{{x.firstname}}</td>
                <td>{{x.lastname}}</td>
                <td>{{x.country}}</td>
                <td>
                    <a href="update/{{x.id}}"><button id="up">update</button></a>
                </td>
                <td>
                    <a href="delete/{{x.id}}"><button id="del">delete</button></a>
                </td>
            </tr>
            {% endfor %}
        </table>
        <br><br>
        <a href="{% url 'add' %}"><button id="new3">Add Member</button></a>
    </div>
</body>

</html>